<div class="rr-container">
    <div class="rr-page-header">
        {{! link to the index route in the header so we can navigate to the home route from everywhere in the application}}
        {{#link-to 'index'}}
            <h1 class="rr-app-title">Rock & Roll <small class="rr-subtitle">with Ember.js</small></h1>
        {{/link-to}}
        {{#if session.isAuthenticated}}
            <div class="rr-user-panel">
                <span data-test-rr="user-email">{{session.data.authenticated.userEmail}}</span>
            </div>
            | 
            <span>{{link-to 'Logout' 'logout' data-test-rr="logout"}}</span>
        {{/if}}
    </div>
    <div class="rr-main-content">
        {{outlet}} {{!-- outlets are slots in the template where content can be rendered from other routes --}}
    </div>
</div>